body, h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, Arial, sans-serif;
}
.navbar{
  background: rgb(2,0,36) !important;
  background: linear-gradient(180deg, rgba(0,212,255,1) 50%, rgb(250, 250, 250) 100%) !important;
}

#foot{
  font-size: 12px !important;

}