
.navbar{
  background: rgb(6, 2, 87) !important;
  font-family: 'Poppins', sans-serif;
  /* font-size: 23px !important; */
  /* background: linear-gradient(180deg, rgb(50, 137, 155) 50%, rgb(175, 175, 175) 100%) !important; */
} 

#foot{
  font-size: 12px !important;
}